body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    
}

.container {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 25px;
    padding: 25px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

#scoreContainer {
    text-align: center;
    margin-top: 20px;
    background-color: #bff6fa;
}


 
  

  
  
 